name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # 1. Build the Go App Image
      - name: Build Docker Image
        run: docker build -t jaimindevops/go-transaction-app:latest .

      # 2. Run Trivy Scan (As shown in your SecOps diagram)
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'jaimindevops/go-transaction-app:latest'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
